body {
    background-color: #383d52;
    // d3d4da
}

// 用户提供的容器
.container {
    height: 700px;
    width: 1200px;
    position:absolute;
    left:0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}