<!-- 侧边工具栏 -->
<div class="sidebar">
    <!-- <div class="function">
        <div class="setting_switcher"></div>
    </div>
    <div class="function">
        <div class="setting_switcher"></div>
    </div>
    <div class="function active">
        <div class="setting_switcher"></div>
    </div>
    <div class="function">
        <div class="setting_switcher"></div>
    </div>
    <div class="function">
        <div class="setting_switcher"></div>
    </div>
    <div class="function">
        <div class="setting_switcher"></div>
    </div>
    <div class="function">
        <div class="setting_switcher"></div>
    </div>
    <div class="function">
        <div class="setting_switcher"></div>
    </div>
    <div class="function">
        <div class="setting_switcher"></div>
    </div> -->
</div>
<!-- 画板包裹层 -->
<div class="sketchpad_box">
    <svg id="sketchpad"></svg>
</div>