// 侧边工具栏
.sidebar {
    background-color: #dcdbdb;
    width: 120px;
    height: 100%;
    float: right;
    overflow-y: auto;

    // 侧边工具栏内部的控件
    div.function {
        height: 90px;
        width: 90px;
        margin: 15px auto;
        border: 6px solid #fff;
        background-color: #eceeee;
        border-radius: 6px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: 70% 70%;
        div.cornermark {
            height: 35px;
            width: 35px;
            border-radius: 5px;
            position: relative;
            top: -6px;
            left: -6px;
            background-image: url('../../img/cornermark.svg');
            background-color: #fff;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            background-size: 90% 90%;
        }
    }
    div.function:hover {
        cursor: pointer;
    }
    div.function.active {
        background-color: #c1ecf3;
        div.cornermark{
            background-image: url('../../img/cornermark_active.svg');
        }
    }
}

// 滚动条样式
.sidebar::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 4px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}

.sidebar::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 4px;
    box-shadow: inset 0 0 4px #00000033;
    background: #00000033;
}

.sidebar::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 4px #00000033;
    border-radius: 0;
    background: #0000001a;
}

// SVG画板区域
.sketchpad_box {
    cursor: pointer;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    svg{
        width: 100%;
        height: 100%;
    }
}