@import './sidebar.scss';
@import './scrollbar.scss';
@import './settings.scss';
// SVG画板区域
.center {
    position: relative;
    cursor: pointer;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    svg {
        width: 100%;
        height: 100%;
    }
    div.settings_box {
        position: absolute;
        right: 0;
        top: 0;
        max-height: 100%;
        background: -moz-linear-gradient(left, #f5dfd3, #e1e2f1);
        /*Mozilla*/
        background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#f5dfd3), to(#e1e2f1));
        /*Old gradient for webkit*/
        background: -webkit-linear-gradient(left, #f5dfd3, #e1e2f1);
        /*new gradient for Webkit*/
        background: -o-linear-gradient(left, #f5dfd3, #e1e2f1);
        overflow-y: auto;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        div.setting_item {
            margin: 10px;
        }
    }
}