// 侧边工具栏
.sidebar {
    background: -moz-linear-gradient(left, #e1e2f1, #f5dfd3);
    /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#e1e2f1), to(#f5dfd3));
    /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #e1e2f1, #f5dfd3);
    /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #e1e2f1, #f5dfd3);
    /*Opera11*/
    width: 112px;
    height: 100%;
    float: right;
    overflow-y: auto;
    div.item {
        // 侧边工具栏内部的控件
        position: relative;
        height: 90px;
        width: 90px;
        margin: 15px auto;
        border-radius: 20px;
        background-color: #eceeee;
        box-sizing: border-box;
        a.content {
            display: block;
            width: 100%;
            height: 100%;
            border: 3px solid #fff;
            border-radius: 20px;
            box-sizing: border-box;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            background-size: 70% 70%;
        }
        a.content:active {
            background-color: #96e4f0;
        }
        a.cornermark {
            display: block;
            height: 35px;
            width: 35px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url('../../img/cornermark_disabled.svg');
            background-color: #fff;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            background-size: 90% 90%;
        }
    }
    div.item:hover {
        cursor: pointer;
    }
    div.item.enabled {
        background-color: #25c04e;
        a.cornermark {
            background-image: url('../../img/cornermark.svg');
        }
        a.cornermark:active {
            background-image: url('../../img/cornermark_active.svg');
        }
    }
}