// 侧边工具栏
.sidebar {
    background-color: #dcdbdb;
    width: 120px;
    height: 100%;
    float: right;
    overflow-y: auto;

    // 侧边工具栏内部的控件
    div.item {
        position: relative;
        height: 90px;
        width: 90px;
        margin: 15px auto;
        border-radius: 20px;
        background-color: #eceeee;
        box-sizing: border-box;

        a.content {
            display: block;
            width: 100%;
            height: 100%;
            border: 8px solid #fff;
            border-radius: 20px;
            box-sizing: border-box;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            background-size: 70% 70%;
        }
        a.content:active {
            background-color: #96e4f0;
        }
        
        a.cornermark {
            display: block;
            height: 35px;
            width: 35px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url('../../img/cornermark_disabled.svg');
            background-color: #fff;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            background-size: 90% 90%;
        }
    }
    div.item:hover {
        cursor: pointer;
    }
    div.item.enabled {
        background-color: #c1ecf3;
        a.cornermark{
            background-image: url('../../img/cornermark.svg');
        }
        a.cornermark:active {
            background-image: url('../../img/cornermark_active.svg');
        }
    }
}