.top {
    background-color: antiquewhite;
}

.content {
    background-color: aqua;
}

.bottom {
    background-color: aquamarine;
}

.left {
    position: absolute;
    background-color: red;
}

.right {
    background-color: #af7b7b;
}