$color_bg: #ececec;
$color_function_bg: #fff;
$color_function_hover: #0CC;

// 侧边工具栏
.svgraffiti_sidebar {
    & {
        background-color: $color_bg;
    }

    width: 80px;
    height: 100%;
    float: right;
    overflow-y: auto;

    // 侧边工具栏内部的控件
    div {
        height: 50px;
        width: 50px;
        margin: 15px auto;
        border: 6px solid $color_function_bg;
        border-radius: 6px;
        box-sizing: border-box;
        background-image: url('../img/dashLine.svg');
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: 32rpx 32rpx;
    }
    div:hover {
        cursor: pointer;
        -webkit-box-shadow: 0 0 10px $color_function_hover;
        -moz-box-shadow: 0 0 10px $color_function_hover;
        box-shadow: 0 0 10px $color_function_hover;
    }
    div.selected {
        box-shadow: -3px 0 10px red, /*左边阴影*/
        3px 0 10px yellow, /*右边阴影*/
        0 -3px 10px blue, /*顶部阴影*/
        0 3px 10px green;
        /*底边阴影*/
    }
}

// 滚动条样式
.svgraffiti_sidebar::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 4px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}

.svgraffiti_sidebar::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    box-shadow: inset 0 0 5px #00000033;
    background: #00000033;
}

.svgraffiti_sidebar::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px #00000033;
    border-radius: 0;
    background: #0000001a;
}

// SVG画板区域
.svgraffiti_panel {
    cursor: pointer;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}