<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>togglebuttons</title>
</head>

<body>
    <h2>Toggle 'em</h2>
    <ul class="tg-list">
        <li class="tg-list-item">
            <h4>Light</h4>
            <input class="tgl tgl-light" id="cb1" type="checkbox">
            <label class="tgl-btn" for="cb1"></label>
        </li>
        <li class="tg-list-item">
            <h4>iOS</h4>
            <input class="tgl tgl-ios" id="cb2" type="checkbox">
            <label class="tgl-btn" for="cb2"></label>
        </li>
        <li class="tg-list-item">
            <h4>Skewed</h4>
            <input class="tgl tgl-skewed" id="cb3" type="checkbox">
            <label class="tgl-btn" data-tg-off="OFF" data-tg-on="ON" for="cb3"></label>
        </li>
        <li class="tg-list-item">
            <h4>Flat</h4>
            <input class="tgl tgl-flat" id="cb4" type="checkbox">
            <label class="tgl-btn" for="cb4"></label>
        </li>
        <li class="tg-list-item">
            <h4>Flip</h4>
            <input class="tgl tgl-flip" id="cb5" type="checkbox">
            <label class="tgl-btn" data-tg-off="Nope" data-tg-on="Yeah!" for="cb5"></label>
        </li>
    </ul>
</body>

</html>